{% extends '::base.html.twig' %}

{% block body %}
    <h1 style="text-align: center">Oppsiee</h1>
    <h2 style="text-align: center">Looks like you entered a genus that doesn't exist</h2>
    <h2 style="text-align: center">Try again with something that actually exists in our database</h2>
{% endblock %}